html,body{

  overflow:none;}

  @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css');

#header-nav
{
border-radius: 0;
border: 0;
}


.navbar-brand {
  padding-top: 20px;

  }

.navbar-brand h1 { 
  font-family: 'Times New Roman', serif;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
height: 100%;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;

}

.navbar
{
  height: 700px;
  background-color: black;
  margin-bottom: 0px;
}


#Menu-bar
{
  font-family: 'Times New Roman', serif;
  text-shadow: 1px 1px 1px #222;
  font-size: 16px;
  color: white;
  height: 100%;
}

.text-wrapper {
    text-align: center;
    font-size: 3em;
    margin-top: 200px;
    margin-right: 300px;
}

.animated-words {
    display: inline-block;

}

.animated-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
    color: white;
}
.animated-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
    color: white; 
}

.animated-words span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: white;
    -webkit-animation: animateWord 9s linear infinite 0s;
    -ms-animation: animateWord 9s linear infinite 0s;
    animation: animateWord 9s linear infinite 0s;
}
@-webkit-keyframes animateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

#About{
  margin-top:50px;
  text-align: center;
  font-family: 'Calibri', sans-serif;
  font-weight: bold;
  line-height: 25px;
}

#Gallery{
  margin-left: 20px;
  font-family: 'Calibri', sans-serif;
  text-decoration: none;

}
.Gallery a:hover{
  text-decoration: none;
}

.row{
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 80px;
}

#Description
{
  font-family: 'Calibri', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

#Like
{
  margin-top: 60px;
  font-family: 'Calibri', sans-serif;
  text-align: center;
  line-height: 30px;
}

.About-Head
{
  font-family: 'Calibri', sans-serif;
color: white;
  text-decoration: none;
  background-color: black;
height: 680px;
position:relative;

}


.one {
    display: table-cell;
    vertical-align: top;
    height: 680px;
    width: 50vw;
}
.two{
  display: table-cell;
    vertical-align: bottom;
	text-align:center;
    height: 680px;
    width: 50%;
	font-size:3vh;
}


.footer{
background:white;
height:100px;
}

#linklist>li
{
list-style-type:none;
float:right;
text-align:center;
margin-right:20px;
margin-top:10px;
display:inline;
min-width: 25px;  
   max-width: 300px;

}

.fa{

   padding: 20px;
  font-size: 500px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
   min-width: 20px;  
   max-width: 300px;
   color: black;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: black;
  color: white;
}
.fa-linkedin {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

.column1 {
    display: table-cell;
    vertical-align: bottom;
    width: 50vw;font-size:3vh;
  font-family: 'Times New Roman',serif;
  opacity: 0.8;
}
.column2{
  display: table-cell;
    vertical-align: bottom;
  text-align:center;
    height: 60px;
    width: 50%;
  font-size:3vh;
}


@media only screen and (max-width: 735px) {
    .column1,.column2 {
        display: table-row;
        font-size: 16px;
        vertical-align: center;
        overflow: none;
        display: inline;
        position: relative;


    }
}

.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}